<div class="about__container">
  <h2 class="about__header">About Me</h2>
  <p class="about__content">
    I graduated with a degree in mathematics from Harvey Mudd College in 2017. Since then, I have worked as a software engineer and data scientist, and in my spare time, have kept myself busy with various undertakings, which is mostly what this site is for. I'm an avid canoer, having led trips for middle- and high-school aged kids and in 2013 expeditioned to the Arctic Circle for 7 weeks. I'm a music addict: I've played electric guitar and jazz saxophone for most of my life, and more recently have picked up mixing electronic music. I still am interested in research math, have been published, and am currently finishing a paper with one of my former professors. Otherwise, I draw, play chess, code, lift, climb, and read.
    <br />
    <br />
    I love to explore, whether it be places, ideas, or expression.  Any opinions expressed here are my own.
  </p>
</div>