<header class="top" id="header">
  <h1 class="top__header">
    Sam Miller
  </h1>
  <span class="top__subheader">
    San Francisco, CA
  </span>
  <i class="fas fa-chevron-down" id="chevron-down"></i>
</header>