<div class="sidebar-container">
  <div class="sidebar">
    <div>
      <img class="sidebar__headshot" src="/dist/images/headshot2.jpg" />
    </div>
    <span class="sidebar__header">
      Sam Miller
    </span>
    <p class="sidebar__content">
      This is a place for my various ventures. May include music, art, math, nonsensical philosophizing, or anything else I feel like.
    </p>
  </div>
  <!-- Added padding to the bottom without a border -->
  <div style="height: 4rem;"></div>
</div>