@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import 'bem';
@import 'colors';
@import 'container';

@import './top.scss';
@import './nav.scss';
@import './post.scss';
@import './sidebar.scss';
@import './pagination.scss';
@import './footer.scss';
@import './newpost.scss';
@import './about.scss';

$font-family: 'Lato', sans-serif;

html {
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, $off-white, darken($off-white, 3%));
}

h1, h2, h3, h4, h5, h6, p, input { margin: 0; }

img { max-width: 100%; height: auto; }

pre {
  max-width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0.5rem;
  background: $off-black;
  color: $off-white;
}

main {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.container {
  flex: 1;
  padding: 0 2rem;
  max-width: 1200px;
  width: calc(100% - 4rem);
}

.sub-container {
  flex: 1;
  margin: 0 2rem;
  max-width: calc(100% - 4rem);
  border-bottom: 1px solid rgba($off-black, 0.0625);
}

.sidebar-container {
  width: 100%;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .sub-container {
    max-width: calc(75% - 4rem);
  }

  .sidebar-container {
    width: 25%;
  }
}


.posts-container, .post-container, .new-post-container {
  @extend .sub-container;
  padding-top: 3rem;
}