@import 'bem';
@import 'colors';

.nav {
  color: $off-black;

  @include element('border') {
    width: calc(100% - 4rem);
    margin: 1rem auto 0;
    height: 1px;
    background-color: #efefef;
  }

  @include element('content') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    @media (min-width: 768px) {
      justify-content: space-between;
    }
  }

  @include element('links') {
    position: relative;
    display: flex;
    height: 3rem;
    font-weight: bold;
  }

  @include element('link') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

#nav-slider {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: $off-black;
  width: 100px;
}
